body{
   background: url(./images/nza_background.jpg);
}
header {
    margin-bottom: 30px;
}

.back{
    width: 100%;
}
.btn-secondary{
    color:white;
    background-color: lightgrey;
    border: none;
    margin-right: 70px;
    float: right;
}
.serif{
    font-family: serif;
    
}
h2.b {line-height: 150%}
h2.a {line-height: 0%}

hr.spacer{
    border-top: 2px solid black;
    padding: 0px 0px;
    margin: 10px;
}
li.left{
  border-left:solid lightgrey;
  padding-left: 15px;
}
ul.f1{
    margin: 10px 5px 5px 10px;
    font-size: 14px;
    text-align: center;
}

.col-md-8{
    background-color: white;
    height:100%;
}

.page {
    width: 90%;
    height:100%;
    background-color: white;
}



#woods {
    height:auto;
    object-fit: contain;
}


#woods img{
    object-fit: contain;
}

#scroll {
    max-height: 360px;
    height:auto;
    overflow: scroll;
    overflow-x:hidden;
    width: 100%;
    background: url(./images/nav_side_sub.jpg);

}

.vertical-scrollable {
    color: white;
    font-weight: 100;
}

hr.white {
     display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}

.container {
    margin-top: 20px;
    margin-bottom: 30px;
}

footer{
    margin-top: 50px;
}